/dev/ttyUSB0              0660   system     system
/dev/block/mmcblk0p8      0660   system     system
/dev/block/mmcblk0p9      0660   system     system

# yongmin.jung@lge.com 2012.07.10 change qcks, ks, efsks into system process
/dev/block/mmcblk0p12     0660   system     system
/dev/block/mmcblk0p13     0660   system     system
/dev/block/mmcblk0p14     0660   system     system

# seongmook.yim@lge.com 2012.09.17 setting permission of ks_bridge & efs_bridge
/dev/ks_bridge              0660  system        system
/dev/efs_bridge           0660    system        system

/dev/pn544		0600	nfc	nfc

/dev/block/mmcblk0p18     0660   root     system
